<div class="content">
    <div style="text-align: justify;">
        <h3>Logo API</h3>
        <p>If you’re only interested in a Company’s logo, and don’t need any other data about the company, you can use our Logo API.</p>
        <p>Access to the API is unauthenticated and doesn’t require a Clearbit account. We also provide some nifty options listed below. If we can’t find a logo we’ll return a 404 status.</p>
        <p>Using our Logo API requires a link back to clearbit.com on any page the logo is displayed. Attribution must be legible and use at least a 12-point font.</p>
    </div>
</div>