<div class="content">
    <div style="text-align: justify;">
        <h3>Risk API</h3>
        <p>Our Risk API takes an email and IP and calculates an associated risk score.
            This is especially useful for figuring out whether incoming signups to your service are spam or legitimate,
            or whether a payment has a high chargeback risk.</p>
        <p>We’ll indicate if a particular email is disposable, undeliverable, or looks fake. We’ll also show you whether
            an IP address is blacklisted or is using a proxy. Lastly we’ll give you an overall risk score which you can
            use to take action, such as making suspicious signups complete additional steps like filling in a captcha or
            confirming their phone number.</p>
        <p>Our integration docs will take you step by step through using the API, and we’ve also put together some
            example apps in Ruby, Node and Python. Otherwise the full API docs below will get you started.</p>
    </div>
</div>  