<div class="row" style="min-height: 100%;">
    <div class="col-sm-6">
        <div class="content">
            <mat-tab-group>
                <mat-tab label="Docs">
                    <div style="text-align: justify;">
                        <div style="margin-top: 4%;">
                            <p style="text-transform: uppercase;font-weight: 550;">PAGINATION</p>
                            <p>Search requests return a maximum of 10 results per page. You can paginate through results and receive the next set by incrementing the page param.</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Support" disabled></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-sm-6" style="background-color: #292D33;padding-left: 0px; padding-right: 0px;">
        <app-console-prompt [protoType]="paginationExaxmple"></app-console-prompt>
    </div>
</div>