<div class="content">
    <div style="text-align: justify;">
        <h3>Enrichment API</h3>
        <p>The Enrichment API lets you look up person and company data based on an email or domain. For example, you could retrieve a person’s name, location and social handles from an email. Or you could lookup a company’s location, headcount or logo based
            on their domain name.</p>
        <p><i>Note: You’ll only be charged once per 30 day period for each unique request, so if you didn’t store the data properly or need to re-run a series of requests for any reason, those won’t count against your allotment.</i></p>
    </div>
</div>