<div class="row" style="min-height: 100%;">
    <div class="col-sm-6">
        <div class="content">
            <mat-tab-group>
                <mat-tab label="Docs">
                    <div style="text-align: justify;">
                        <h3>Rate limiting</h3>
                        <p>You can make 600 requests per minute to each API, unless you are using Streaming or Reveal. Check the returned HTTP headers of any API request to see your current rate limit status. If you’re running into this error or think you’ll
                            need a higher rate limit, drop us a line at support@clearbit.com. The Streaming version of each API is limited to 5 concurrent connections rather than being limited by the number of requests per minute. The Reveal API is not
                            rate limited.</p>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <!-- code Column -->
                            <ng-container matColumnDef="header">
                                <mat-header-cell *matHeaderCellDef> Header</mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.header}} </mat-cell>
                            </ng-container>

                            <!-- description Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> name </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Support" disabled></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-sm-6" style="background-color: #292D33;padding-left: 0px; padding-right: 0px;">
        <app-console-prompt [protoType]="errorExaxmple"></app-console-prompt>
    </div>
</div>