<div class="row" style="min-height: 100%;">
    <div class="col-sm-6">
        <div class="content">
            <mat-tab-group>
                <mat-tab label="Docs">
                    <div style="text-align: justify;">
                        <div style="margin-top: 4%;">
                            <p style="text-transform: uppercase;font-weight: 550;">JSONP RESPONSE</p>
                            <p>One of the simplest ways of using this API is via a JavaScript script tag using JSONP. Simply pass the name of the function you’d like to be invoked as the callback parameter.</p>
                            <p>This method of calling the API has the advantage of blocking page load, so is useful for customizing the page on the fly.</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Support" disabled></mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div class="col-sm-6" style="background-color: #292D33;padding-left: 0px; padding-right: 0px;">
        <app-console-prompt [protoType]="revealJsonResponseExample"></app-console-prompt>
    </div>
</div>